<section class="banner ico_banner">
	<div class="inner">
		<div class="container">
			<div class="mirror"></div>
			<div class="slogan">
				<h1 translate="ICO.BANNER.SLOGAN"></h1>
				<!--<p translate="ICO.BANNER.TEXT"></p>-->
				<p translate="ICO.BANNER.LEFT" translate-value-bonus="{{bonus}}" translate-value-left="{{left}}"></p>
				<p translate="ICO.STAGES.STEPS.NOTE2"></p>
			</div>
			<div class="timer">
				<!--<strong translate="COUNTDOWN.START"></strong>-->
				<strong translate="COUNTDOWN.LEFT"></strong>
				<div class="start" data-date=""></div>
				<h4 class="timer_text" data-for="textDiv_Days" translate="COUNTDOWN.DAYS"></h4>
				<h4 class="timer_text" data-for="textDiv_Hours" translate="COUNTDOWN.HOURS"></h4>
				<h4 class="timer_text" data-for="textDiv_Minutes" translate="COUNTDOWN.MINUTES"></h4>
				<h4 class="timer_text" data-for="textDiv_Seconds" translate="COUNTDOWN.SECONDS"></h4>
			</div>
			<a href="https://ico.egaas.org/{{ref}}" class="buy btn btn-primary btn-lg" target="_blank" translate="ICO.BUY"></a>
		</div>
	</div>
</section>
<section class="ico">
	<div class="bg-white">
		<div class="line">
			<div class="container mission_text">
				<p translate="ICO.MISSION.TEXT"></p>
			</div>
		</div>
		<div class="line">
			<div class="container people clearfix">
				<img class="pull-right" src="/images/graph_01.png" alt=""/>
				<div style="overflow:hidden; padding-right:50px;">
					<p></p>
					<p></p>
					<p translate="ICO.MISSION.PEOPLES.TEXT1"></p>
					<p></p>
					<p translate="ICO.MISSION.PEOPLES.TEXT2"></p>
				</div>
			</div>
		</div>
		<div class="line">
			<div class="container finance clearfix">
				<img class="pull-right" src="/images/graph_02.png" alt=""/>
				<div style="overflow:hidden; padding-right:50px;">
					<p></p>
					<p></p>
					<p translate="ICO.MISSION.FINANCE.TEXT1"></p>
					<p></p>
					<p translate="ICO.MISSION.FINANCE.TEXT2"></p>
					<p></p>
					<p translate="ICO.MISSION.FINANCE.TEXT3"></p>
					<p></p>
					<p></p>
					<p translate="ICO.MISSION.FINANCE.TEXT4"></p>
					<p></p>
					<p></p>
					<p></p>
					<p translate="ICO.MISSION.FINANCE.TEXT5"></p>
				</div>
			</div>
		</div>
		<div class="line">
			<div class="container buttons_text">
				<p translate="ICO.MISSION.BUTTONS.TEXT1"></p>
				<p class="d-inline-block" translate="ICO.MISSION.BUTTONS.TEXT2"></p>
				<a href="{{ 'DOCS.MANIFESTO.FILE' | translate }}" class="btn btn-secondary btn-lg" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>{{ 'DOCS.MANIFESTO.TEXT' | translate }}</a>
				<a href="{{ 'DOCS.WHITEPAPER.FILE' | translate }}" class="btn btn-secondary btn-lg" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>{{ 'DOCS.WHITEPAPER.TEXT' | translate }}</a>
			</div>
		</div>
	</div>
	<div class="bg-lgray">
		<div class="line">
			<div class="container platform clearfix">
				<h2 class="text-xs-center" translate="ICO.PLATFORM.HEAD"></h2>
				<div class="img">
					<p translate="ICO.PLATFORM.IMG.TEXT1"></p>
					<p translate="ICO.PLATFORM.IMG.TEXT2"></p>
					<p translate="ICO.PLATFORM.IMG.TEXT3"></p>
					<p translate="ICO.PLATFORM.IMG.TEXT4"></p>
				</div>
				<p translate="ICO.PLATFORM.TEXT"></p>
			</div>
		</div>
		<div class="line">
			<div class="container roadmap clearfix">
				<h2 class="text-xs-center" translate="ICO.ROADMAP.HEAD"></h2>
				<article>
					<div class="left">
						<p translate="ICO.ROADMAP.LEFT.TEXT1"></p>
					</div>
					<strong>
						<span>2016</span>
					</strong>
					<div class="right">
						<div>
							<span translate="ICO.ROADMAP.RIGHT.TEXT1"></span>
							<p translate="ICO.ROADMAP.RIGHT.TEXT2"></p>
						</div>
						<div>
							<span translate="ICO.ROADMAP.RIGHT.TEXT3"></span>
							<p translate="ICO.ROADMAP.RIGHT.TEXT4"></p>
						</div>
						<div>
							<span translate="ICO.ROADMAP.RIGHT.TEXT5"></span>
							<p translate="ICO.ROADMAP.RIGHT.TEXT6"></p>
						</div>
					</div>
				</article>
				<article>
					<div class="left">
						<p translate="ICO.ROADMAP.LEFT.TEXT2"></p>
					</div>
					<strong>
						<span>2017</span>
					</strong>
					<div class="right">
						<div>
							<p translate="ICO.ROADMAP.RIGHT.TEXT7"></p>
						</div>
						<div>
							<p translate="ICO.ROADMAP.RIGHT.TEXT8"></p>
						</div>
						<div>
							<p translate="ICO.ROADMAP.RIGHT.TEXT9"></p>
						</div>
						<div>
							<p translate="ICO.ROADMAP.RIGHT.TEXT10"></p>
						</div>
					</div>
				</article>
				<article>
					<div class="left">
						<p translate="ICO.ROADMAP.LEFT.TEXT3"></p>
					</div>
					<strong>
						<span>2018</span>
					</strong>
				</article>
				<article>
					<div class="left">
						<p translate="ICO.ROADMAP.LEFT.TEXT4"></p>
					</div>
					<strong>
						<span>2019</span>
					</strong>
				</article>
				<article>
					<div class="left">
						<p translate="ICO.ROADMAP.LEFT.TEXT5"></p>
					</div>
					<strong>
						<span>2023</span>
					</strong>
				</article>
				<article>
					<div class="left">
						<p translate="ICO.ROADMAP.LEFT.TEXT6"></p>
					</div>
					<strong>
						<span>2025</span>
					</strong>
				</article>
				<article>
					<div class="left">
						<p translate="ICO.ROADMAP.LEFT.TEXT7"></p>
					</div>
					<strong>
						<span>2028</span>
					</strong>
				</article>
				<article>
					<div class="left">
						<p translate="ICO.ROADMAP.LEFT.TEXT8"></p>
					</div>
					<strong>
						<span>2030</span>
					</strong>
				</article>
			</div>
		</div>
	</div>
	<div class="bg-white">
		<div class="line">
			<div class="container model">
				<h2 translate="ICO.MODEL.HEAD"></h2>
				<p translate="ICO.MODEL.TEXT1"></p>
				<p translate="ICO.MODEL.TEXT2"></p>
				<p translate="ICO.MODEL.TEXT3"></p>
				<p translate="ICO.MODEL.TEXT4"></p>
				<p translate="ICO.MODEL.TEXT5"></p>
			</div>
		</div>
		<div class="line">
			<div class="container release">
				<h2 translate="ICO.RELEASE.HEAD"></h2>
				<p translate="ICO.RELEASE.TEXT"></p>
			</div>
		</div>
		<div class="line">
			<div class="container distribution">
				<h3 translate="ICO.DISTRIBUTION.HEAD"></h3>
				<div class="clearfix">
					<article class="left">
						<strong>35%</strong>
						<p translate="ICO.DISTRIBUTION.PIE.TEXT1"></p>
					</article>
					<div id="distribution"></div>
					<article class="right">
						<strong>65%</strong>
						<p translate="ICO.DISTRIBUTION.PIE.TEXT2"></p>
					</article>
				</div>
				<p translate="ICO.DISTRIBUTION.TEXT1"></p>
				<p translate="ICO.DISTRIBUTION.TEXT2"></p>
			</div>
		</div>
		<div class="line">
			<div class="container sale">
				<h3 translate="ICO.SALE.HEAD"></h3>
				<div class="row">
					<article>
						<p translate="ICO.SALE.TEXT1"></p>
					</article>
					<article>
						<p translate="ICO.SALE.TEXT2"></p>
					</article>
					<article>
						<p translate="ICO.SALE.TEXT3"></p>
					</article>
				</div>
			</div>
		</div>
		<div class="line">
			<div class="container first_stage">
				<h3 translate="ICO.FIRST.HEAD"></h3>
				<p translate="ICO.FIRST.TEXT"></p>
			</div>
		</div>
		<div class="line">
			<div class="container stages">
				<h3 translate="ICO.STAGES.HEAD"></h3>
				<div class="clearfix">
					<article ng-class="stage('stage0')">
						<strong>1</strong>
						<i class="fa fa-flag-o" aria-hidden="true"></i>
						<p>
							<b>{{ 'ICO.STAGES.STEPS.TEXT1' | translate }}&nbsp;<em>{{vm.ico.stat[0].bonus}}%</em>&nbsp;<i>60%</i></b>
							11/15/16<br />{{ 'ICO.STAGES.STEPS.LIMIT' | translate }}: {{vm.limit[0]}}m EGS = <!--{{vm.summ[0]}}-->30 BTC<br />1 EGS = <!--{{vm.ico.stat[0].btc}}-->0,0001 BTC
						</p>
					</article>
					<article ng-class="stage('stage1')">
						<strong>2</strong>
						<i class="fa fa-flag-o" aria-hidden="true"></i>
						<p>
							<b>{{ 'ICO.STAGES.STEPS.TEXT2' | translate }}&nbsp;<em>{{vm.ico.stat[1].bonus}}%</em>&nbsp;<i>60%</i></b>
							11/15/16 - 11/21/16<br />{{ 'ICO.STAGES.STEPS.LIMIT' | translate }}: {{vm.limit[1]}}m EGS = <!--{{vm.summ[1]}}-->130 BTC<br />1 EGS = <!--{{vm.ico.stat[1].btc}}-->0,0001 BTC
						</p>
						<div class="note" translate="ICO.STAGES.STEPS.NOTE2"></div>
					</article>
					<article ng-class="stage('stage2')">
						<strong>3</strong>
						<i class="fa fa-flag-o" aria-hidden="true"></i>
						<p>
							<b>{{ 'ICO.STAGES.STEPS.TEXT3' | translate }}&nbsp;{{vm.ico.stat[2].bonus}}%</b>
							11/22/16 - 11/28/16<br />{{ 'ICO.STAGES.STEPS.LIMIT' | translate }}: {{vm.limit[2]}}m EGS = {{vm.summ[2]}} BTC<br />1 EGS = {{vm.ico.stat[2].btc}} BTC
						</p>
					</article>
					<article ng-class="stage('stage3')">
						<strong>4</strong>
						<i class="fa fa-flag-o" aria-hidden="true"></i>
						<p>
							<b>{{ 'ICO.STAGES.STEPS.TEXT4' | translate }}&nbsp;{{vm.ico.stat[3].bonus}}%</b>
							11/29/16 - 12/05/16<br />{{ 'ICO.STAGES.STEPS.LIMIT' | translate }}: {{vm.limit[3]}}m EGS  = {{vm.summ[3]}} BTC<br />1 EGS = {{vm.ico.stat[3].btc}} BTC
						</p>
					</article>
					<article ng-class="stage('stage4')">
						<strong>5</strong>
						<p>
							<b>{{ 'ICO.STAGES.STEPS.TEXT5' | translate }}</b>
							12/06/16 - 12/12/16<br />{{ 'ICO.STAGES.STEPS.LIMIT' | translate }}: {{vm.limit[4]}}m EGS = {{vm.summ[4]}} BTC<br />1 EGS = {{vm.ico.stat[4].btc}} BTC
						</p>
					</article>
				</div>
				<div class="row">
					<!--<div class="col-md-6">
						<div>
							<span translate="ICO.STAGES.CASE.TEXT1"></span>
							{{vm.sold}} EGS
						</div>
					</div>-->
					<div class="offset-md-3 col-md-6">
						<div>
							<span translate="ICO.STAGES.CASE.TEXT2"></span>
							{{vm.total}} EGS
						</div>
					</div>
				</div>
				<p translate="ICO.STAGES.TEXT"></p>
			</div>
		</div>
	</div>
	<div class="why">
		<div class="line">
			<div class="container">
				<h2 translate="ICO.WHY.HEAD"></h2>
				<div class="row">
					<div class="col-md-7 pull-md-right">
						<p translate="ICO.WHY.TEXT1"></p>
						<p translate="ICO.WHY.TEXT2"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-lgray">
		<div class="line">
			<div class="container done">
				<h2 translate="ICO.DONE.HEAD"></h2>
				<div class="clearfix">
					<article>
						<div>
							<p translate="ICO.DONE.TEXT1"></p>
							<p class="list"><i class="fa fa-check-circle" aria-hidden="true"></i><a href="#lite" ng-click="scroll('lite', 'root.Download')">v 1.x</a> – {{'ICO.DONE.TEXT2' | translate}}</p>
							<p class="list"><i class="fa fa-check-circle" aria-hidden="true"></i><a href="#private" ng-click="scroll('private', 'root.Download')">v 0.x</a> – {{'ICO.DONE.TEXT3' | translate}}</p>
						</div>
					</article>
					<article>
						<div>
							<p translate="ICO.DONE.TEXT5"></p>
						</div>
					</article>
				</div>
				<div class="phone">
					<div class="p p1"></div>
					<div class="p p2"></div>
					<div class="p p3"></div>
					<div class="p p4"></div>
				</div>
				<div class="clearfix">
					<article>
						<div>
							<p translate="ICO.DONE.TEXT4"></p>
						</div>
					</article>
					<article class="last">
						<div>
							<p translate="ICO.DONE.TEXT6"></p>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-white">
		<div class="line">
			<div class="container funds">
				<h2 translate="ICO.FUNDS.HEAD"></h2>
				<p translate="ICO.FUNDS.TEXT"></p>
				<div class="clearfix">
					<div id="funds"></div>
					<aside>
						<div>
							<span>60%</span>
							<p translate="ICO.FUNDS.PIE.TEXT1"></p>
						</div>
						<div>
							<span>10%</span>
							<p translate="ICO.FUNDS.PIE.TEXT2"></p>
						</div>
						<div>
							<span>10%</span>
							<p translate="ICO.FUNDS.PIE.TEXT3"></p>
						</div>
						<div>
							<span>10%</span>
							<p translate="ICO.FUNDS.PIE.TEXT4"></p>
						</div>
						<div>
							<span>10%</span>
							<p translate="ICO.FUNDS.PIE.TEXT5"></p>
						</div>
					</aside>
				</div>
				<a href="https://ico.egaas.org/{{ref}}" class="buy btn btn-primary btn-lg" target="_blank" translate="ICO.BUY"></a>
			</div>
		</div>
		<div class="line">
			<div id="prototypes" class="container prototypes">
				<h2 translate="ICO.PROTOTYPES.HEAD"></h2>
				<div id="nanoGallery">
					<a href="prototypes_1.png" data-ngthumb="prototypes_1.png" data-ngkind="album" data-ngid="trade"></a>
					<a href="prototypes_2.png" data-ngthumb="prototypes_2.png" data-ngkind="album" data-ngid="contract"></a>
					<a href="prototypes_3.png" data-ngthumb="prototypes_3.png" data-ngkind="album" data-ngid="common"></a>
					
					<a href="prototypes_1.png" data-ngthumb="prototypes_1.png" data-ngalbumid="trade"></a>
					<a href="prototypes_1_01.png" data-ngthumb="prototypes_1_01.png" data-ngalbumid="trade"></a>
					<a href="prototypes_1_02.png" data-ngthumb="prototypes_1_02.png" data-ngalbumid="trade"></a>
					<a href="prototypes_1_03.png" data-ngthumb="prototypes_1_03.png" data-ngalbumid="trade"></a>
					<a href="prototypes_1_04.png" data-ngthumb="prototypes_1_04.png" data-ngalbumid="trade"></a>
					<a href="prototypes_1_05.png" data-ngthumb="prototypes_1_05.png" data-ngalbumid="trade"></a>
					
					<a href="prototypes_2.png" data-ngthumb="prototypes_2.png" data-ngalbumid="contract"></a>
					<a href="prototypes_2_01.png" data-ngthumb="prototypes_2_01.png" data-ngalbumid="contract"></a>
					
					<a href="prototypes_3.png" data-ngthumb="prototypes_3.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_01.png" data-ngthumb="prototypes_3_01.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_02.png" data-ngthumb="prototypes_3_02.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_03.png" data-ngthumb="prototypes_3_03.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_04.png" data-ngthumb="prototypes_3_04.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_05.png" data-ngthumb="prototypes_3_05.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_06.png" data-ngthumb="prototypes_3_06.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_07.png" data-ngthumb="prototypes_3_07.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_08.png" data-ngthumb="prototypes_3_08.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_09.png" data-ngthumb="prototypes_3_09.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_10.png" data-ngthumb="prototypes_3_10.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_11.png" data-ngthumb="prototypes_3_11.png" data-ngalbumid="common"></a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- build:js5 js/ico.js -->
<!--<script type="text/javascript" src="/view/js/mirror.js"></script>-->
<script type="text/javascript" src="/view/js/ico.js"></script>
<!-- endbuild -->