<section class="banner">
	<div class="inner">
		<div class="container">
			<div id="triangles" class="triangles">
				<div id="triangles_output" class="triangles"></div>
				<div id="triangles_controls" class="controls"></div>
			</div>
			<div class="slogan">
				<h1 translate="MAIN.BANNER.SLOGAN"></h1>
				<p translate="MAIN.BANNER.TEXT"></p>
			</div>
			<div class="timer">
				<strong translate="COUNTDOWN.START"></strong>
				<strong translate="COUNTDOWN.FINISH"></strong>
				<div class="start" data-date=""></div>
				<h4 class="timer_text" data-for="textDiv_Days" translate="COUNTDOWN.DAYS"></h4>
				<h4 class="timer_text" data-for="textDiv_Hours" translate="COUNTDOWN.HOURS"></h4>
				<h4 class="timer_text" data-for="textDiv_Minutes" translate="COUNTDOWN.MINUTES"></h4>
				<h4 class="timer_text" data-for="textDiv_Seconds" translate="COUNTDOWN.SECONDS"></h4>
				<strong><a href="#" ui-sref="root.ICO">Go to ICO</a></strong>
			</div>
			<div class="row" ui-view="subscribe"></div>
		</div>
	</div>
</section>
<section class="main">
	<div class="mission">
		<div id="mission" class="page"></div>
		<div class="container">
			<div class="inner">
				<div class="row">
					<div class="col-sm-4 pull-sm-right p-y-2">
						<img class="img-fluid m-x-auto" src="/images/web.svg" alt=""/>
					</div>
					<div class="col-sm-8">
						<h2 translate="MAIN.MISSION.HEAD1"></h2>
						<p translate="MAIN.MISSION.TEXT1"></p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 p-x-3 p-y-2">
						<img class="img-fluid m-x-auto" src="/images/logo_big.svg" alt=""/>
					</div>
					<div class="col-sm-8">
						<h2 translate="MAIN.MISSION.HEAD2"></h2>
						<p translate="MAIN.MISSION.TEXT2"></p>
					</div>
				</div>
				<div class="buttons">
					<p translate="MAIN.MISSION.BUTTONS.TEXT1"></p>
					<p class="d-inline-block" translate="MAIN.MISSION.BUTTONS.TEXT2"></p>
					<a href="{{ 'DOCS.MANIFESTO.FILE' | translate }}" class="btn btn-secondary btn-lg" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>{{ 'DOCS.MANIFESTO.TEXT' | translate }}</a>
					<a href="{{ 'DOCS.WHITEPAPER.FILE' | translate }}" class="btn btn-secondary btn-lg" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>{{ 'DOCS.WHITEPAPER.TEXT' | translate }}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="zebra">
		<div id="about" class="page"></div>
		<div class="container">
			<div class="row">
				<div class="article col-md-6">
					<div class="head">
						<div class="icon">
							<img src="/images/i_01.svg" alt=""/>
						</div>
					</div>
					<h2 translate="MAIN.ABOUT.HEAD1"></h2>
					<p translate="MAIN.ABOUT.TEXT1"></p>
				</div>
				<div class="article col-md-6">
					<div class="head">
						<div class="icon">
							<img src="/images/i_02.svg" alt=""/>
						</div>
					</div>
					<h2 translate="MAIN.ABOUT.HEAD2"></h2>
					<p translate="MAIN.ABOUT.TEXT2"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="zebra">
		<div class="container">
			<div class="row">
				<div class="article col-md-6">
					<div class="head">
						<div class="icon">
							<img src="/images/i_03.svg" alt=""/>
						</div>
					</div>
					<h2 translate="MAIN.ABOUT.HEAD3"></h2>
					<p translate="MAIN.ABOUT.TEXT3"></p>
				</div>
				<div class="article col-md-6">
					<div class="head">
						<div class="icon">
							<img src="/images/i_04.svg" alt=""/>
						</div>
					</div>
					<h2 translate="MAIN.ABOUT.HEAD4"></h2>
					<p translate="MAIN.ABOUT.TEXT4"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="zebra">
		<div class="container">
			<div class="row">
				<div class="article col-md-6">
					<div class="head">
						<div class="icon">
							<img src="/images/i_05.svg" alt=""/>
						</div>
					</div>
					<h2 translate="MAIN.ABOUT.HEAD5"></h2>
					<p translate="MAIN.ABOUT.TEXT5"></p>
				</div>
				<div class="article col-md-6">
					<div class="head">
						<div class="icon">
							<img src="/images/i_06.svg" alt=""/>
						</div>
					</div>
					<h2 translate="MAIN.ABOUT.HEAD6"></h2>
					<p translate="MAIN.ABOUT.TEXT6"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="zebra">
		<div class="container">
			<div class="row">
				<div class="article col-md-6">
					<div class="head">
						<div class="icon">
							<img src="/images/i_07.svg" alt=""/>
						</div>
					</div>
					<h2 translate="MAIN.ABOUT.HEAD7"></h2>
					<p translate="MAIN.ABOUT.TEXT7"></p>
				</div>
				<div class="article col-md-6">
					<div class="head">
						<div class="icon">
							<img src="/images/i_08.svg" alt=""/>
						</div>
					</div>
					<h2 translate="MAIN.ABOUT.HEAD8"></h2>
					<p translate="MAIN.ABOUT.TEXT8"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="zebra"></div>
	<div class="about">
		<div class="container">
			<div class="inner">
				<!--<canvas class="stars"></canvas>-->
				<h2 translate="MAIN.ABOUT.WHAT.HEAD"></h2>
				<!--<p translate="MAIN.ABOUT.WHAT.TEXT"></p>-->
				<div class="egaas_video">
					<div class="laptop">
						<img class="bg" src="/images/about_bg.jpg" alt=""/>
						<a class="play" href="" data-player data-link='<iframe width="560" height="315" src="https://www.youtube.com/embed/HCTd1K3uzJE?rel=0&amp;controls=1&amp;showinfo=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>'></a>
					</div>
					<div class="text">
						<span></span>
						<strong translate="MAIN.ABOUT.WHAT.PLAY"></strong>
						<!--{{ 'MAIN.ABOUT.WHAT.PLAYTEXT' | translate }}-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="press">
		<div class="container">
			<div class="inner">
				<h2 translate="MAIN.ABOUT.PRESS.HEAD"></h2>
				<div class="logos row">
					<a href="http://www.the-blockchain.com/2016/11/10/beta-testing-electronic-government-service-egaas-begins-egaas-manifest-white-paper-egaas/" target="_blank"><img src="/images/press_01.png" alt=""/></a>
					<a href="http://forklog.net/daylight-team-to-create-a-blockchainized-state/" target="_blank"><img src="/images/press_02.png" alt=""/></a>
					<a href="https://cointelegraph.com/press-releases/electronic-government-as-a-service" target="_blank"><img src="/images/press_03.png" alt=""/></a>
					<a href="https://bitconnect.co/bitcoin-news/330/electronic-government-as-a-service/" target="_blank"><img src="/images/press_04.png" alt=""/></a>
					<a href="http://coin-turk.com/elektronik-devlet-uygulamasi-egaas-bugun-15-kasimda-ico-satisina-basliyor" target="_blank"><img src="/images/press_05.png" alt=""/></a>
					<a href="http://criptonoticias.com/mercados/plataforma-gobierno-electronico-pretende-refundar-estado-mediante-blockchain-leyes-inteligentes/#axzz4Q5Jv6Q65" target="_blank"><img src="/images/press_06.png" alt=""/></a>
					<a href="http://bitcoinchaser.com/egaas-electronic-government-blockchain-ico" target="_blank"><img src="/images/press_07.png" alt=""/></a>
					<a href="http://bitcoinwarrior.net/2016/11/electronic-government-as-a-service-egaas-enters-beta-testing-phase/" target="_blank"><img src="/images/press_08.png" alt=""/></a>
					<a href="http://www.newsbtc.com/2016/11/21/egaas-enters-beta-testing-phase/" target="_blank"><img src="/images/press_09.png" alt=""/></a>
					<div class="text-center">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="team">
		<div id="team" class="page"></div>
		<div class="container">
			<div class="inner">
				<h2 translate="MAIN.TEAM.HEAD"></h2>
				<div class="row">
					<article>
						<img src="/images/team_01.png" alt=""/>
						<div>
							<h3>
								{{ 'MAIN.TEAM.PEOPLE1.NAME' | translate }}
								<span translate="MAIN.TEAM.PEOPLE1.PROFESSION"></span>
								<span class="soc">
									<a href="https://www.facebook.com/profile.php?id=100011135479175" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</span>
								<aside id="team_particles"></aside>
							</h3>
							<p translate="MAIN.TEAM.PEOPLE1.TEXT"></p>
						</div>
					</article>
					<article>
						<img src="/images/team_07.png" alt=""/>
						<div>
							<h3>
								{{ 'MAIN.TEAM.PEOPLE2.NAME' | translate }}
								<span translate="MAIN.TEAM.PEOPLE2.PROFESSION"></span>
								<span class="soc">
									<a href="https://www.facebook.com/profile.php?id=100014059872432" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</span>
							</h3>
							<p translate="MAIN.TEAM.PEOPLE2.TEXT"></p>
						</div>
					</article>
					<article>
						<img src="/images/team_02.png" alt=""/>
						<div>
							<h3>
								{{ 'MAIN.TEAM.PEOPLE3.NAME' | translate }}
								<span translate="MAIN.TEAM.PEOPLE3.PROFESSION"></span>
								<span class="soc">
									<a href="https://www.facebook.com/yuriy.lomakin.3" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
									<a href="https://www.linkedin.com/in/yuriy-lomakin-700148b6" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
								</span>
							</h3>
							<p translate="MAIN.TEAM.PEOPLE3.TEXT"></p>
						</div>
					</article>
					<article>
						<img src="/images/team_03.png" alt=""/>
						<div>
							<h3>
								{{ 'MAIN.TEAM.PEOPLE4.NAME' | translate }}
								<span translate="MAIN.TEAM.PEOPLE4.PROFESSION"></span>
								<span class="soc">
									<a href="https://ru.wikipedia.org/wiki/%D0%91%D0%BE%D0%BB%D0%B4%D0%B0%D1%87%D1%91%D0%B2,_%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B8%D1%87" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></a>
								</span>
							</h3>
							<p translate="MAIN.TEAM.PEOPLE4.TEXT"></p>
						</div>
					</article>
					<article>
						<img src="/images/team_04.png" alt=""/>
						<div>
							<h3>
								{{ 'MAIN.TEAM.PEOPLE5.NAME' | translate }}
								<span translate="MAIN.TEAM.PEOPLE5.PROFESSION"></span>
								<span class="soc">
									<a href="https://www.facebook.com/Ruben.Pombukhchan" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
									<a href="https://www.linkedin.com/in/%D1%80%D1%83%D0%B1%D0%B5%D0%BD-%D0%BF%D0%BE%D0%BC%D0%B1%D1%83%D1%85%D1%87%D0%B0%D0%BD-56b05180" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
								</span>
							</h3>
							<p translate="MAIN.TEAM.PEOPLE5.TEXT"></p>
						</div>
					</article>
					<article>
						<img src="/images/team_05.png" alt=""/>
						<div>
							<h3>
								{{ 'MAIN.TEAM.PEOPLE6.NAME' | translate }}
								<span translate="MAIN.TEAM.PEOPLE6.PROFESSION"></span>
								<span class="soc">
									<a href="https://www.facebook.com/sergej.chernyshev" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
									<a href="https://ru.wikipedia.org/wiki/%D0%A7%D0%B5%D1%80%D0%BD%D1%8B%D1%88%D1%91%D0%B2,_%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B9_%D0%91%D0%BE%D1%80%D0%B8%D1%81%D0%BE%D0%B2%D0%B8%D1%87" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></a>
								</span>
							</h3>
							<p translate="MAIN.TEAM.PEOPLE6.TEXT"></p>
						</div>
					</article>
					<article>
						<img src="/images/team_06.png" alt=""/>
						<div>
							<h3>
								{{ 'MAIN.TEAM.PEOPLE7.NAME' | translate }}
								<span translate="MAIN.TEAM.PEOPLE7.PROFESSION"></span>
								<span class="soc">
									<a href="https://www.linkedin.com/in/alexey-krivonogov-390b663b" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
								</span>
							</h3>
							<p translate="MAIN.TEAM.PEOPLE7.TEXT"></p>
						</div>
					</article>
					<article>
						<img src="/images/team_08.png" alt=""/>
						<div>
							<h3>
								{{ 'MAIN.TEAM.PEOPLE8.NAME' | translate }}
								<span translate="MAIN.TEAM.PEOPLE8.PROFESSION"></span>
							</h3>
							<p translate="MAIN.TEAM.PEOPLE8.TEXT"></p>
						</div>
					</article>
					<article>
						<img src="/images/team_09.png" alt=""/>
						<div>
							<h3>
								{{ 'MAIN.TEAM.PEOPLE9.NAME' | translate }}
								<span translate="MAIN.TEAM.PEOPLE9.PROFESSION"></span>
								<span class="soc">
									<a href="https://www.facebook.com/nechaev.a.v" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
									<a href="https://www.linkedin.com/in/nechaevandrei" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
								</span>
							</h3>
							<p translate="MAIN.TEAM.PEOPLE9.TEXT"></p>
						</div>
					</article>
					<article>
						<img src="/images/team_10.png" alt=""/>
						<div>
							<h3>
								{{ 'MAIN.TEAM.PEOPLE10.NAME' | translate }}
								<span translate="MAIN.TEAM.PEOPLE10.PROFESSION"></span>
							</h3>
							<p translate="MAIN.TEAM.PEOPLE10.TEXT"></p>
						</div>
					</article>
					<article>
						<img src="/images/team_11.png" alt=""/>
						<div>
							<h3>
								{{ 'MAIN.TEAM.PEOPLE11.NAME' | translate }}
								<span translate="MAIN.TEAM.PEOPLE11.PROFESSION"></span>
								<span class="soc">
									<a href="https://www.facebook.com/ann.nosova.90" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</span>
							</h3>
							<p translate="MAIN.TEAM.PEOPLE11.TEXT"></p>
						</div>
					</article>
					<article>
						<img src="/images/team_12.png" alt=""/>
						<div>
							<h3>
								{{ 'MAIN.TEAM.PEOPLE12.NAME' | translate }}
								<span translate="MAIN.TEAM.PEOPLE12.PROFESSION"></span>
								<span class="soc">
									<a href="https://www.facebook.com/vitaly.bondar.5" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</span>
							</h3>
							<p translate="MAIN.TEAM.PEOPLE12.TEXT"></p>
						</div>
					</article>
				</div>
				<p class="text" translate="MAIN.TEAM.TEXT"></p>
			</div>
		</div>
	</div>
	<div class="states">
		<div class="container">
			<div class="inner">
				<h2 translate="MAIN.STATES.HEAD"></h2>
				<p translate="MAIN.STATES.TEXT"></p>
				<div class="row">
					<div class="state col-sm-6">
						<div class="flag">
							<img src="/images/flag_liberland.svg" alt=""/>
						</div>
						<h3 translate="MAIN.STATES.NAME1"></h3>
						<p translate="MAIN.STATES.TEXT1"></p>
					</div>
					<div class="state col-sm-6">
						<div class="flag">
							<img src="/images/flag_arktida.png" alt=""/>
						</div>
						<h3 translate="MAIN.STATES.NAME2"></h3>
						<p translate="MAIN.STATES.TEXT2"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- build:js3 js/main.js -->
<script type="text/javascript" src="/view/js/triangles.js"></script>
<!--<script type="text/javascript" src="/view/js/about.js"></script>-->
<script type="text/javascript" src="/view/js/main.js"></script>
<!-- endbuild -->