<section class="ico egaas_progress">
	<div class="bg-lgray">
		<div class="line">
			<div class="container roadmap clearfix">
				<h2 class="text-xs-center" translate="ICO.ROADMAP.HEAD"></h2>
				<article>
					<div class="left">
						<p translate="ICO.ROADMAP.LEFT.TEXT1"></p>
					</div>
					<strong>
						<span>2016</span>
					</strong>
					<div class="right">
						<div>
							<span translate="ICO.ROADMAP.RIGHT.TEXT1"></span>
							<p translate="ICO.ROADMAP.RIGHT.TEXT2"></p>
						</div>
						<div>
							<span translate="ICO.ROADMAP.RIGHT.TEXT3"></span>
							<p translate="ICO.ROADMAP.RIGHT.TEXT4"></p>
						</div>
						<div>
							<span translate="ICO.ROADMAP.RIGHT.TEXT5"></span>
							<p translate="ICO.ROADMAP.RIGHT.TEXT6"></p>
						</div>
					</div>
				</article>
				<article>
					<div class="left">
						<p translate="ICO.ROADMAP.LEFT.TEXT2"></p>
					</div>
					<strong>
						<span>2017</span>
					</strong>
					<div class="right">
						<div>
							<p translate="ICO.ROADMAP.RIGHT.TEXT7"></p>
						</div>
						<div>
							<p translate="ICO.ROADMAP.RIGHT.TEXT8"></p>
						</div>
						<div>
							<p translate="ICO.ROADMAP.RIGHT.TEXT9"></p>
						</div>
						<div>
							<p translate="ICO.ROADMAP.RIGHT.TEXT10"></p>
						</div>
					</div>
				</article>
				<article>
					<div class="left">
						<p translate="ICO.ROADMAP.LEFT.TEXT3"></p>
					</div>
					<strong>
						<span>2018</span>
					</strong>
				</article>
				<article>
					<div class="left">
						<p translate="ICO.ROADMAP.LEFT.TEXT4"></p>
					</div>
					<strong>
						<span>2019</span>
					</strong>
				</article>
				<article>
					<div class="left">
						<p translate="ICO.ROADMAP.LEFT.TEXT5"></p>
					</div>
					<strong>
						<span>2023</span>
					</strong>
				</article>
				<article>
					<div class="left">
						<p translate="ICO.ROADMAP.LEFT.TEXT6"></p>
					</div>
					<strong>
						<span>2025</span>
					</strong>
				</article>
				<article>
					<div class="left">
						<p translate="ICO.ROADMAP.LEFT.TEXT7"></p>
					</div>
					<strong>
						<span>2028</span>
					</strong>
				</article>
				<article>
					<div class="left">
						<p translate="ICO.ROADMAP.LEFT.TEXT8"></p>
					</div>
					<strong>
						<span>2030</span>
					</strong>
				</article>
			</div>
		</div>
	</div>
	<div class="bg-white">
		<div class="line">
			<div class="container mission_text">
				<h2 translate="ICO.MISSION.BUTTONS.TEXT1"></h2>
				<p translate="ICO.MISSION.TEXT"></p>
			</div>
		</div>
		<div class="line">
			<div class="container people clearfix">
				<img class="pull-right" src="/images/graph_01.png" alt=""/>
				<div style="overflow:hidden; padding-right:50px;">
					<p></p>
					<p></p>
					<p translate="ICO.MISSION.PEOPLES.TEXT1"></p>
					<p></p>
					<p translate="ICO.MISSION.PEOPLES.TEXT2"></p>
				</div>
			</div>
		</div>
		<div class="line">
			<div class="container finance clearfix">
				<img class="pull-right" src="/images/graph_02.png" alt=""/>
				<div style="overflow:hidden; padding-right:50px;">
					<p></p>
					<p></p>
					<p translate="ICO.MISSION.FINANCE.TEXT1"></p>
					<p></p>
					<p translate="ICO.MISSION.FINANCE.TEXT2"></p>
					<p></p>
					<p translate="ICO.MISSION.FINANCE.TEXT3"></p>
					<p></p>
					<p></p>
					<p translate="ICO.MISSION.FINANCE.TEXT4"></p>
					<p></p>
					<p></p>
					<p></p>
					<p translate="ICO.MISSION.FINANCE.TEXT5"></p>
				</div>
			</div>
			<div class="container buttons_text p-t-3">
				<a href="{{ 'DOCS.MANIFESTO.FILE' | translate }}" class="btn btn-secondary btn-lg" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>{{ 'DOCS.MANIFESTO.TEXT' | translate }}</a>
				<a href="{{ 'DOCS.WHITEPAPER.FILE' | translate }}" class="btn btn-secondary btn-lg" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>{{ 'DOCS.WHITEPAPER.TEXT' | translate }}</a>
			</div>
		</div>
		<div class="line">
			<div class="container model">
				<h2 translate="ICO.MODEL.HEAD"></h2>
				<div class="scheme">
					<p class="text investor" translate="ICO.MODEL.INVESTOR"></p>
					<p class="text client" translate="ICO.MODEL.CLIENT"></p>
					<p class="text team_egaas" translate="ICO.MODEL.TEAM"></p>
					<p class="text platform_egaas" translate="ICO.MODEL.PLATFORM"></p>
					<p class="text services" translate="ICO.MODEL.SERVICES"></p>
					<p class="text list t1" data-number="01" translate="ICO.MODEL.TEXT1"></p>
					<p class="text list t2" data-number="02" translate="ICO.MODEL.TEXT2"></p>
					<p class="text list t3" data-number="03" translate="ICO.MODEL.TEXT3"></p>
					<p class="text list t4" data-number="04" translate="ICO.MODEL.TEXT4"></p>
					<p class="text list t5" data-number="05" translate="ICO.MODEL.TEXT5"></p>
					<p class="text egs egs_1">EGS</p>
					<p class="text egs egs_2">EGS</p>
					<p class="text egs egs_3">EGS</p>
					<p class="text egs egs_4">EGS</p>
					<p class="text dollar dollar_1">$</p>
					<p class="text dollar dollar_2">$</p>
					<p class="text dollar dollar_3">$</p>
					<p class="text dollar dollar_4">$</p>
					<p class="text persent">1%</p>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-lgray">
		<div class="line">
			<div class="container done">
				<h2 translate="ICO.DONE.HEAD"></h2>
				<div class="clearfix">
					<article>
						<div>
							<p translate="ICO.DONE.TEXT1"></p>
							<p class="list"><i class="fa fa-check-circle" aria-hidden="true"></i><a href="#lite" ng-click="scroll('lite', 'root.Download')">v 1.x</a> – {{'ICO.DONE.TEXT2' | translate}}</p>
							<p class="list"><i class="fa fa-check-circle" aria-hidden="true"></i><a href="#private" ng-click="scroll('private', 'root.Download')">v 0.x</a> – {{'ICO.DONE.TEXT3' | translate}}</p>
						</div>
					</article>
					<article>
						<div>
							<p translate="ICO.DONE.TEXT5"></p>
						</div>
					</article>
				</div>
				<div class="phone">
					<div class="p p1"></div>
					<div class="p p2"></div>
					<div class="p p3"></div>
					<div class="p p4"></div>
				</div>
				<div class="clearfix">
					<article>
						<div>
							<p translate="ICO.DONE.TEXT4"></p>
						</div>
					</article>
					<article class="last">
						<div>
							<p translate="ICO.DONE.TEXT6"></p>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-white">
		<div class="line">
			<div id="prototypes" class="container prototypes">
				<h2 translate="ICO.PROTOTYPES.HEAD"></h2>
				<div id="nanoGallery">
					<a href="prototypes_1.png" data-ngthumb="prototypes_1.png" data-ngkind="album" data-ngid="trade"></a>
					<a href="prototypes_2.png" data-ngthumb="prototypes_2.png" data-ngkind="album" data-ngid="contract"></a>
					<a href="prototypes_3.png" data-ngthumb="prototypes_3.png" data-ngkind="album" data-ngid="common"></a>
					
					<a href="prototypes_1.png" data-ngthumb="prototypes_1.png" data-ngalbumid="trade"></a>
					<a href="prototypes_1_01.png" data-ngthumb="prototypes_1_01.png" data-ngalbumid="trade"></a>
					<a href="prototypes_1_02.png" data-ngthumb="prototypes_1_02.png" data-ngalbumid="trade"></a>
					<a href="prototypes_1_03.png" data-ngthumb="prototypes_1_03.png" data-ngalbumid="trade"></a>
					<a href="prototypes_1_04.png" data-ngthumb="prototypes_1_04.png" data-ngalbumid="trade"></a>
					<a href="prototypes_1_05.png" data-ngthumb="prototypes_1_05.png" data-ngalbumid="trade"></a>
					
					<a href="prototypes_2.png" data-ngthumb="prototypes_2.png" data-ngalbumid="contract"></a>
					<a href="prototypes_2_01.png" data-ngthumb="prototypes_2_01.png" data-ngalbumid="contract"></a>
					
					<a href="prototypes_3.png" data-ngthumb="prototypes_3.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_01.png" data-ngthumb="prototypes_3_01.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_02.png" data-ngthumb="prototypes_3_02.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_03.png" data-ngthumb="prototypes_3_03.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_04.png" data-ngthumb="prototypes_3_04.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_05.png" data-ngthumb="prototypes_3_05.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_06.png" data-ngthumb="prototypes_3_06.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_07.png" data-ngthumb="prototypes_3_07.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_08.png" data-ngthumb="prototypes_3_08.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_09.png" data-ngthumb="prototypes_3_09.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_10.png" data-ngthumb="prototypes_3_10.png" data-ngalbumid="common"></a>
					<a href="prototypes_3_11.png" data-ngthumb="prototypes_3_11.png" data-ngalbumid="common"></a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- build:js7 js/ico.js -->
<!--<script type="text/javascript" src="/view/js/mirror.js"></script>-->
<script type="text/javascript" src="/view/js/progress.js"></script>
<!-- endbuild -->